<app-navbar></app-navbar>
<div class="background"></div>

<form [formGroup]="busSearchForm" class="bus-search-form">

    <div class="form-section">
        <div class="input-container">
            <div class="input-box">
                <label for="fromLocation">From</label>
                <input type="text" id="fromLocation" placeholder="Enter departure location">
            </div>
            <div class="form-divider">
                <i class="fa-solid fa-arrow-right-arrow-left"></i>
            </div>
            <div class="input-box">
                <label for="toLocation">To</label>
                <input type="text" id="toLocation" placeholder="Enter destination location">
            </div>
        </div>
    </div>

    <div class="line"></div>

    <div class="form-section">
        <button class="search-button">
            <i class="fa-solid fa-arrow-right"></i>
        </button>
    </div>
</form>
