.home-div{
    height: 90vh;
}

.home-div span {
    font-size: 38px;
    color: #71abd2;
    position: relative;
    z-index:2;
    left: 1100px;
    top:115px;
    font-family: 'Sigmar One';

}

.home-div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width:100%;
    background-image: url('/assets/homebg2.jpg');
    background-position: center 90%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(1px);
    z-index: 1;
  }