<div class="options-container">
    <div class="option" routerLink="/hotel-search">
        <img src="../../../assets/hotellogo.png" alt="Hotels" class="option-icon" />
        <p>Hotels</p>
    </div>
    <div class="line"></div>
    <div class="option" routerLink="/flight-search">
        <img src="../../../assets/flightlogo.png" alt="Flights" class="option-icon" />
        <p>Flights</p>
    </div>
    <div class="line"></div>
    <div class="option" routerLink="/bus-search">
        <img src="../../../assets/buslogo.png" alt="Bus" class="option-icon" />
        <p>Bus</p>
    </div>
    <div class="line"></div>
    <div class="option" routerLink="/package-search">
        <img src="../../../assets/holidaylogo.png" alt="Holiday Package" class="option-icon" />
        <p>Holiday Package</p>
    </div>
</div>
