body, html {
    height: 100%;
    margin: 0;
}

.login-error {
    color: red;
    font-size: 30px;
}

.background-image {
    background-image: url('/assets/loginBG.png');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    background: rgb(240, 240, 240);
    border-radius: 10px;
    padding: 30px;
    width: 370px;
    box-shadow: 0 4px 8px rgba(50, 50, 50, 0.8);
    text-align: center;
}

h2 {
    font-size:50px;
    font-weight: bolder;
    color: #333;
    font-family: "Dancing Script";
}

.input-containers {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-direction: column;
}

.input-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-part {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-error {
    color: red;
    font-weight: thin;
}

.input-container input {
    width: 100%;
    background-color: transparent;
    padding: 10px;
    font-size: 16px;
    outline: none;
    border: none;
    border-bottom: 1px solid #111;
    color: #111;
}

input::placeholder {
    color: #333; 
    opacity: 1;  
}

 .login-button {
    width: 100%;
    background-color: #007BFF;
    opacity: 0.9;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 12px 0px;
}

.login-button:hover {
    background-color: #004ADD;
}

.p-info {
    color: #202020;
}

.signup-link {
    color: #007BFF;
    text-decoration: none;
}

.signup-link:hover {
    text-decoration: underline;
}