<div class="main-container">
    <app-hotel-provider></app-hotel-provider>
    <div class="form-container">
<div class="hotel-graph">
    <h5>HOTEL BOOKED DETAILS</h5>
    <select name="" id="" (change)="onHotelChange($event)">
        <option value="" selected disabled>Select a Hotel</option>
        <option [value]="hotel.id" *ngFor="let hotel of hotels">{{hotel.hotelName}}</option>
    </select>
    <div>
       <p-chart type="bar" [data]="hotelRoomsBarData" [options]="barOptions"/>
    </div>
</div>
