<nav class="app-navbar">
    <div class="navbar-container">
      <div class="logo" routerLink="/home">
        <img src="../../../assets/logo.png" alt="">
      </div>
      <div class="options">
        <div routerLink="/home" >Home</div>
        <div routerLink="/flight-search">Flight</div>
        <div routerLink="/bus-search">Bus</div>
        <div routerLink="/hotel-booking">Hotel</div>
        <div routerLink="/holiday-packages">Holiday Package</div>
      </div>
      <div class="user-greeting">
        <span>{{username}}</span>
        <i class="fas fa-user"></i>
      </div>
    </div>
  </nav>
