<div class="hotel-card">
    <div >{{hotel.roomId}}</div>
    <div>{{hotel.roomType}}</div>
     <div>{{hotel.price}}</div>
    <div>{{hotel.hotelName}}</div>
     <div>{{hotel.hotelInfo}}</div>
    <div>{{hotel.location}}</div>
    <div>{{hotel.star}}</div>
     <div>{{hotel.hotelId}}</div>
</div>

 
 <!-- <div class="hotel-info">{{hotel.hotelName}}</div>
  <div class="hotel-info">{{hotel.hotelInfo}}</div>
  <div class="hotel-info">{{hotel.location}}</div>
  <div class="hotel-info">{{hotel.price}}</div>
  <div class="hotel-info">{{hotel.star}}</div>
  div class="hotel-info">{{hotel.hotelId}}</div>
    <img [src]="hotel.imageUrl || 'default-hotel-image.jpg'" alt="Hotel Image">
    <div class="hotel-info">
     <div class="hotel-name">{{hotel.hotelName}}</div>
     <div class="hotel-info h3"><p>{{hotel.location}}</p></div>
     <div class="hotel-info">{{hotel.hotelInfo}}</div>
    </div>
   <div>
     <div class="star-rating">{{hotel.star}}</div>
     <div class="price">{{hotel.price}}</div>
   </div>-->


  
