<div>
    <div class="sidebar">
      <ul class="nav-list">
        <li><a href="#" routerLink="/review-booking">Dashboard</a></li>
        <li class="dropdown">
          <a href="#"> Manage Hotels </a>
          <ul class="dropdown-menu">
            <li><a href="#" routerLink="/view-list">View Hotel</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#"> Manage Bookings </a>
          <ul class="dropdown-menu">
            <li><a href="#" routerLink="/update-status">View Bookings</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#"> Review </a>
          <ul class="dropdown-menu">
            <li><a href="#" routerLink="/review-card">View</a></li>
          </ul>
        </li>
       

         <li><a href="#" class="logout" (click)="Logout()"> Logout</a></li>
      </ul>
    </div>
  </div>