<div class="container-fluid">
    <div class="row">
        <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
            <div class="position-sticky">
                <h5 class="my-4">Service-Provider</h5>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#homeCollapse" role="button" aria-expanded="false" aria-controls="homeCollapse">
                            <i class="bi bi-house"></i> Hotels
                        </a>
                        <div class="collapse" id="homeCollapse">
                            <ul class="list-unstyled ps-3">
                                <li><a class="nav-link" routerLink="/hotel-booking/hotel-list">View Hotels</a></li>
                                <li><a class="nav-link" routerLink="/hotel-booking/add-hotel">Add hotels</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#dashboardCollapse" role="button" aria-expanded="false" aria-controls="dashboardCollapse">
                            <i class="bi bi-speedometer2"></i> Rooms
                        </a>
                        <div class="collapse" id="dashboardCollapse">
                            <ul class="list-unstyled ps-3">
                                <li><a class="nav-link" href="#">View Rooms</a></li>
                                <li><a class="nav-link" href="#">Add Rooms</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#dashboardCollapse" role="button" aria-expanded="false" aria-controls="dashboardCollapse">
                            <i class="bi bi-speedometer2"></i> Images
                        </a>
                        <div class="collapse" id="dashboardCollapse">
                            <ul class="list-unstyled ps-3">
                                <li><a class="nav-link" href="#">Room Images </a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
