<div class="main-container">
    <app-hotel-provider></app-hotel-provider>
    <div class="hotel-list">
      <div class="main-content">
        <div id="add-amenities" class="card">
          <h3>Add Amenities</h3>
          <form id="amenitiesForm" (ngSubmit)="onClick($event)">
            <div class="checkbox-group">
              <div>
                <input type="checkbox" id="breakfast" value="breakfast" name="breakfast" (change)="onChange($event)">
                <label for="breakfast">Breakfast</label>
              </div>
              <div>
                <input type="checkbox" id="breafastLunc" value="breafastLunc" name="breafastLunc" (change)="onChange($event)">
                <label for="breafastLunc">Breakfast & Lunch</label>
              </div>
              <div>
                <input type="checkbox" id="freeWifi" value="freeWifi" name="freeWifi" (change)="onChange($event)">
                <label for="freeWifi">Free WiFi</label>
              </div>
              <div>
                <input type="checkbox" id="gym" name="gym" value="gym" (change)="onChange($event)">
                <label for="gym">Gym</label>
              </div>
              <div>
                <input type="checkbox" id="parkingArea" value="parkingArea" name="parkingArea" (change)="onChange($event)">
                <label for="parkingArea">Parking Area</label>
              </div>
              <div>
                <input type="checkbox" id="spa" name="spa" value="spa" (change)="onChange($event)">
                <label for="spa">Spa</label>
              </div>
              <div>
                <input type="checkbox" id="swimmingPool" name="swimmingPool" value="swimmingPool" (change)="onChange($event)">
                <label for="swimmingPool">Swimming Pool</label>
              </div>
            </div>
            <button class="btn" type="submit">Save Amenities</button>
          </form>
        </div>
  
        <div id="hotel-extra" class="card">
          <h3>Hotel Extra Options</h3>
          <form id="hotelExtraForm" (ngSubmit)="onHotelExtraSubmit($event)">
            <div class="form-group">
              <label for="cancellationInfo">Cancellation Information:</label>
              <select id="cancellationInfo" [(ngModel)]="hotelExtra.cancellationInfo" name="cancellationInfo">
                <option value="Free cancellation Till Check-in">Free cancellation Till Check-in</option>
                <option value="Free cancellation before 24 hours of Check-in">Free cancellation before 24 hours of Check-in</option>
                <option value="No refund on cancellation">No refund on cancellation</option>
              </select>
            </div>
            <div class="form-group">
              <label for="complimentaryOptions">Complimentary Options:</label>
              <select id="complimentaryOptions" [(ngModel)]="hotelExtra.complimentary" name="complimentary">
                <option value="Breakfast included">Breakfast included</option>
                <option value="Not included">Not included</option>
              </select>
            </div>
            <button type="submit" class="btn">Save Hotel Extra</button>
            <button type="button" class="btn" (click)="navigateToAddedRooms()">Main Page</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  