<div class="flight-card">
    <h3>{{ flight.name }}</h3>
    <ul>
      <li class="flight-number">- Flight number: {{ flight.number }}</li>
      <li class="description">- {{ flight.description }}</li>
    </ul>
    <div class="buttons">
        <button class="edit-button" [routerLink]="['/my-flight-info', flight.id]">View</button>
        <button [ngClass]="{'activate-flight-button': flight.status=='Not Running', 'deactivate-flight-button': flight.status=='Running'}" (click)="deleteFlight(flight.id)">{{flight.status=='Running'?"Delete":"Activate"}}</button>
    </div>
  </div>