<div class="flight-card" [ngClass]="{'blur-bg': showOfferSection==true}">
    <div class="flight-card-section1">
        <div class="flight-card-part1">
            <div class="icon">
                <i class="fa-solid fa-plane-circle-check" style="color: #1a3c56;"></i>
            </div>
            <div class="flight-info">
                <div class="flight-name">{{flight.flightName}}</div>
                <div class="flight-number">{{flight.flightNumber}}</div>
            </div>
        </div>
        <div class="horizontal-line"></div>
        <div class="flight-card-part2">
            <div class="timing-info">
                <div class="time">{{flight.sourceArrival}}</div>
                <div class="location">{{flight.source}}</div>
            </div>
            <div class="distance-info">
                <div class="distance">{{flight.distance}} kms</div>
                <i class="fa-solid fa-arrows-left-right" style="color: #42d753;"></i>
            </div>
            <div class="timing-info">
                <div class="time">{{flight.destinationArrival}}</div>
                <div class="location">{{flight.destination}}</div>
            </div>
        </div>
        <div class="horizontal-line"></div>
        <div class="flight-card-part3">
            <div class="amount">₹ {{flight.amount}}</div>
            <div class="for-class">Base fare</div>
        </div>
    </div>
    <div class="line"></div>
    <div class="flight-card-section2">
        <div class="flight-description">{{flight.flightDescription}}</div>
        <div class="buttons">
            <div class="offer-button" (click)="showOffers(flight.flightId)">offers</div>
            <button (click)="initiateBooking(flight)" class="proceed-button">Proceed</button>
        </div>
    </div>
</div>
<div *ngIf="showOfferSection" class="offers-container">
    <h2>Offers on {{flight.flightName}} ({{flight.flightNumber}})</h2>
    <ul *ngFor="let offer of flightOffers">
        <li>
            <span class="offer-description">{{offer.description}}: </span>
            <span class="offer-discount">Get {{offer.offerDiscount}}</span>
            <span class="offer-type" *ngIf="offer.offerType=='percentage'">% off</span>
            <span class="offer-type" *ngIf="offer.offerType=='money'"> Rs. off</span>
            <span class="offer-condition"> on spending above {{offer.offerCondition}}</span>
            <span class="loyalty-points"> and earn {{offer.loyaltyPoints}} loyalty Points </span>
        </li>
    </ul>
    <button class="close-button" (click)="showOfferSection=false">Close</button>
  </div>