<p>my-added-room-card works!</p>

<div class="main-container">
    <app-hotel-provider></app-hotel-provider>
     
   <div class="row hotel-list"  >
     <div class="column" *ngFor="let room of rooms">
   <div class=" hotel-card">
     <div class="hotel-header">
         <h3>{{ room.bedType }}</h3>
     </div>
     <p class="hotel-location">{{ room.bookedRooms }}</p>
     <p class="hotel-description">{{ room.capacity }}</p>
     <p class="hotel-description">{{ room.price }}</p>
     <p class="hotel-description">{{ room.roomType }}</p>
     <div class="hotel-actions">
       <button class="edit-btn" (click)="onEdit(room.id)">Edit</button>
       <button class="delete-btn">Delete</button>
      
     </div>
     <div class="hotel-actions">
         <button class="edit-room-btn" (click)="navigateToRoomsImages(room.id)">Add Room Images</button>
         <button class="edit-room-btn">Add Amenities</button>
       </div>
   </div>
   </div>
