.main-content {
    margin-left: 20%; 
    padding: 20px;
  }
  .hotel-list{
    display: grid;
    grid-template-columns: repeat(4,20rem);
    position: relative;
    top:55px;
    left: 288px;
  }
  .main-container{
    display: flex;
    flex-direction: row;
  }
  
  