<div class="container-fluid">
  <div class="row">
      <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
          <div class="position-sticky">
              <h5 class="my-4">Service-Provider</h5>
              <ul class="nav flex-column">
                  <li class="nav-item">
                      <a class="nav-link" data-bs-toggle="collapse" href="#homeCollapse" role="button" aria-expanded="false" aria-controls="homeCollapse">
                          <i class="bi bi-house"></i> Hotels
                      </a>
                      <div class="collapse" id="homeCollapse">
                          <ul class="list-unstyled ps-3">
                              <li><a class="nav-link" routerLink="/hotel-booking/hotel-list">View Hotels</a></li>
                              <li><a class="nav-link" routerLink="/hotel-booking/add-hotel">Add hotels</a></li>
                          </ul>
                      </div>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" data-bs-toggle="collapse" href="#dashboardCollapse" role="button" aria-expanded="false" aria-controls="dashboardCollapse">
                          <i class="bi bi-speedometer2"></i> Rooms
                      </a>
                      <div class="collapse" id="dashboardCollapse">
                          <ul class="list-unstyled ps-3">
                              <li><a class="nav-link" href="#">View Rooms</a></li>
                              <li><a class="nav-link" href="#">Add Rooms</a></li>
                          </ul>
                      </div>
                  </li>
              </ul>
          </div>
      </nav>
  </div>
</div>

<div class="col-md-9 col-lg-10 ms-sm-auto px-md-4 main-content">
    <div class="row">
         <div class="col-lg-9">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col"  >Hotel Name</th>
                    <th scope="col">Location</th>
                    <th scope="col">Description</th>
                    <th scope="col" class="text-center">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let h of hotels">
                    <td class="text-center">HotelID: {{h.id}} </td>
                    <th scope="row" class="text-center">{{h.hotelName}}</th>
                    <td class="text-center">{{h.description}} </td>
                    <td class="text-center"> {{h.location}}</td>
                     <td class="text-center">
                        <button type="button" class="btn btn-primary btn-sm">Edit</button> 
                        &nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-danger btn-sm">Delete</button>
                    </td>
                  </tr>
                   
                </tbody>
              </table>
        </div>
    </div>
