<p>booking-details works!</p>
<div class="booking-card" >
<div class="booking-details">
    <!-- <div class="booking-info">
        <h3>{{booking.hotelName}}</h3>
        <p><strong>{{ booking.totalAmount }}</strong></p>
        <p><strong>Booked Date: </strong>{{ booking.bookedDate }}</p>
        <p><strong>Check-in date: </strong>{{ booking.checkInDate }}</p>
        <p><strong>Check-out date: </strong>{{ booking.checkOutDate}}</p>
        <p><strong>Address: </strong>{{ booking.location }}</p>
        <p><strong>Status: </strong>
            <span [ngClass]="{
              'status-booked': booking.status === 'BOOKED',
              'status-cancelled': booking.status === 'CANCELLED'
            }">
              {{ booking.status }}
            </span>
          </p> -->
          <!-- <div class="booking-info" *ngFor="let booking of bookings">
                <h3>Sunrise Resort</h3>
                <p><strong>Total Amount: </strong>{{booking.totalAmount}}</p>
                <p><strong>Booked Date: </strong>2024-10-01</p>
                <p><strong>Check-in date: </strong>2024-10-10</p>
                <p><strong>Check-out date: </strong>2024-10-15</p>
                <p><strong>Address: </strong>Goa, India</p>
                <p><strong>Status: </strong>
                  <span class="status-booked">BOOKED</span>
                </p>
                <div class="card-actions">
                  <button class="btn-review" routerLink="/review">Review</button>
                  <button class="btn-cancel" (click)="cancelBooking()">Cancel Booking</button>
                </div>
              </div>
            </div> -->
      
          
        